.adviser-dashboard {
  width: 1000px;
  margin: 160px auto 0 auto;

  .table-title {
    button {
      width: 140px;
      height: 48px;
      padding: 13px 21px;
      font-size: 16px;
      line-height: 19px;
      color: $white;
      background-color: $purple;
    }

    .list {
      width: 172px;
      height: 123px;
      padding: 15px 16px 25px 17px;
      border: 1px solid $grey500;
      background-color: $white;
      margin-top: 5px;
      right: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: 0 4px 10px rgba(27, 6, 58, 0.15);

      span {
        display: block;
        width: 139px;
        height: 27px;
        font-size: 16px;
        line-height: 23px;
        color: $darkPurple;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .table-header {
    height: 56px;
    border-bottom: 1px solid $grey400;

    .column-heading {
      flex: 0 0 25%;
      &:first-child {
        flex: 0 0 50%;
      }
      &:last-child {
        text-align: right;
      }
    }

    span {
      font-weight: 500;
      color: $darkPurple;
    }

    img {
      margin-left: 5px;
    }
  }
}