// Extends

%span-label {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-left: 5px;
}

// Page styles

.adviser-user-plan {
  margin: 122px auto 150px auto;
  padding: 0 100px;

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  .right-column {
    .controls {

      .button-back {
        img, span {
          display: block;
        }

        img {
          width: 16px;
          height: 14px;
        }

        span {
          @extend %span-label;

          color: $purple;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    
    .user-info {

      & > * {
        display: block;
      }

      &-icon {
        width: 56px;
        height: 56px;
      }

      .user-name {
        font-size: 18px;
        line-height: 27px;
      }
    }

    .info-item {
      color: $darkPurple;
      margin-bottom: 6px;
      font-size: 14px;
      line-height: 24px;

      &.no-info {
        color: $grey600;
        font-style: italic;
      }
    }

    .contacts {
      .dis-f {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $hrColor;
        &:last-child {
          border-bottom:none;
        }
      }
    }
    .contact-title {
      color: $grey650;
      flex: 0 0 120px;
    }
    .contact-item {
      color: $brandPurple;
      text-align: right;
    }

    .section-label {
      display: flex;
      font-size: 14px;
      line-height: 21px;
      color: $darkPurple;
      font-weight: 500;
      margin-bottom: 6px;
      img {
        width: 10px;
        height: 14px;
        margin-left: 6px;
        margin-bottom: 2px;
      }
    }

    .button-add {
      width: auto;
      padding: 6px 8px;
      border: 1px solid $purple;
      border-radius: 4px;
      background-color: $white;
      color: $purple;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 5px;
      font-weight: 500;

      &:hover {
        background-color: $purple;
        color: $white;
      }
    }

    .info-row-table {
      height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        display: block;
        width: auto;
        color: $brandPrimary;
        font-size: 14px;
        line-height: 21px;
      }
    }

    .check-status {
      width: 139px;
      height: 24px;
      padding: 6px 8px;
      color: $grey500;
      font-size: 12px;
      line-height: 14px;
      background-color: $bgLightGray;
    }
  }

  .left-column {
    width: 1000px;
    margin-top: 44px;

    .soft-facts {
      span {
        display: block;
        font-size: 14px;
        line-height: 16px;
        color: $purple;
        font-weight: 500;
      }
    }
  }
}