// Extends

%save-button {
  height: 48px;
  border-radius: 4px;

  &[disabled] {
    color: $grey500;
  }
}

%span-label {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin-left: 5px;
}

// Page styles

.adviser-user {
  margin: 122px auto 70px auto;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
  .controls {
    .button-back {
      img, span {
        display: block;
      }

      img {
        width: 16px;
        height: 14px;
      }

      span {
        @extend %span-label;

        color: $purple;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .tabs {
      padding: 18px 0;
      box-shadow: 0 4px 10px rgba(27, 6, 58, 0.15);
      border-radius: 4px;

      .tab {
        padding: 6px 0 6px 23px;
        color: $grey650;
        margin: 5px 0;

        &-active {
          border-left: 2px solid $purple;
          color: $purple;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .user {
    .title {
      button {
        width: 205px;
        height: 48px;
        padding: 13px 24px;
        font-size: 16px;
        line-height: 19px;
        color: $white;
        background-color: $purple;
      }
    }

    .profile-details {
      .main-info {
        img {
          width: 128px;
          height: 128px;
        }

        &::after {
          content: "";
          clear: both;
          display: table;
        }

        .fields {
          button {
            &[disabled] {
              color: $grey500;
            }
          }
        }
      }

      .dependents {
        .dependence {
          height: 80px;
          padding: 16px 0;
          border-bottom: 1px solid $grey400;

          img {
            height: 48px;
            width: 48px;
            border-radius: 5px;
          }

          span {
            display: block;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            margin-left: 5px;
            color: $brandPrimary;
          }
        }

        .terms {
          height: 80px;
          padding: 27px 0;

          span {
            display: block;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            margin-left: 5px;
            color: $brandPrimary;

            &.italic {
              font-style: italic;
              color: $grey500;
            }
          }
        }

        .remove {
          width: 100px;
          height: 48px;
          border: 1px solid $lightRed;
          padding: 13px 24px;
          border-radius: 4px;
          color: $lightRed;
          background-color: $white;
          &:hover {
            background-color: $lightRed;
            color: $white;
          }
        }
      }
    }
  }

  .contacts {
    .address > * {
      float: none;
      clear: both;
    }

    .address > .input-wrap > section {
      float: left;
    }

  }

  .kyc-aml-status {
    span {
      @extend %span-label;

      color: $purple;
    }

    .info-row, .row-item {
      width: 100%;
    }

    .info-row-table {
      height: 80px;
      border-bottom: 1px solid #EEEEEE;

      span {
        color: $brandPrimary;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .info-row-table:last-child {
      span:first-child {
        color: $grey650;
      }

      span:last-child {
        color: $grey500;
      }
    }

    .save-button {
      width: 211px;

      @extend %save-button;
    }
  }
}