.wrap_anchor_menu {
	position: relative;
	z-index: 2000;
	margin-bottom: 80px;
	&:after {
		content: '';
		display: block;
		background: linear-gradient(270deg, #F0F0F0 0%, rgba(240, 240, 240, 0.836435) 50.28%, rgba(240, 240, 240, 0.480663) 99.99%, rgba(240, 240, 240, 0) 100%);
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 140px;
	}
	&.bg_violet {
		> a {
			color: #FFF;
		}
		&:after {
			background: linear-gradient(270deg, $brandPrimary 0%, rgba($brandPrimary, 0.836435) 50.28%, rgba($brandPrimary, 0.480663) 99.99%, rgba($brandPrimary, 0) 100%);
		}
	}
	&.bg_light_violet {
		> a {
			color: #FFF;
		}
		&:after {
			background: linear-gradient(270deg, $brandPurple 0%, rgba($brandPurple, 0.836435) 50.28%, rgba($brandPurple, 0.480663) 99.99%, rgba($brandPurple, 0) 100%);
		}
	}
	> a {
		display: inline-block;
		background: transparent;
		color: $brandPrimary;
		font-size: 16px;
		font-weight: 300;
		padding: 20px 30px;
		vertical-align: text-bottom;
		line-height: 1;
	}
	.navMenuInline {
		display: inline-block;
		padding: 15px 140px 15px 15px;
		margin: 0;
		width: calc(100% - 135px);
		overflow-x: auto;
		white-space: nowrap;
		z-index: 1000;
		text-align: left;
		li {
			display: inline-block;
			list-style: none;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			a {
				color: $grey600;
				text-decoration: none;
				font-size: 16px;
				font-weight: 300;
				cursor: pointer;
				&.active, &:hover {
					color: $brandPrimary;
				}
			}
		}
		&.bg_light_grey {
			background: $grey200;
			li {
				a {
					color: $grey600;
					&.active, &:hover {
						color: $brandPrimary;
					}
				}
			}
		}
		&.bg_violet {
			background: $brandPrimary;
			li {
				a {
					color: rgba(255, 255, 255, 0.8);
					&.active, &:hover {
						color: rgba(255, 255, 255, 1);
					}
				}
			}
		}
		&.bg_light_violet {
			background: $brandPurple;
			li {
				a {
					color: rgba(255, 255, 255, 0.8);
					&.active, &:hover {
						color: rgba(255, 255, 255, 1);
					}
				}
			}
		}
	}
}

.bg_light_grey {
	background: $grey200;
	h1, h2, h3, h5, h6 {
		color: $brandPrimary;
	}
}

.bg_violet {
	background: $brandPrimary;
	h1, h2, h3, h5, h6 {
		color: #FFF;
	}
}

.bg_light_violet {
	background: $brandPurple;
	h1, h2, h3, h5, h6 {
		color: #FFF;
	}
}

.guides #bannerHeader {
	padding-top: 100px;
	padding-bottom: 50px;
}
#bannerHeader {
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
	h1, h3, h5 {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	h1 {
		margin-bottom: 25px;
	}
	h5 {
		margin-bottom: 25px;
		font-weight: 400;
	}
	h3 {
		margin-bottom: 25px;
	}
}

.htmlPage {
	.textDescription {
		#download_pdf {
			margin-top: 25px;
		}
		.box_info {
			margin: 0 0 80px;
			padding: 30px;
			border: 1px solid $grey200;
			ul {
				margin-bottom: 0;
				li {
					margin-bottom: 0;
				}
			}
		}
		.number_list {
			counter-reset: section;
			padding-left: 0;
			li {
				list-style: none;
				padding-left: 50px;
				position: relative;
				min-height: 32px;
				vertical-align: middle;
				&:before {
					counter-increment: section;
					content: counters(section, ".") " ";
					background: $brandPrimary;
					color: #FFF;
					font-size: 20px;
					width: 32px;
					line-height: 1;
					text-align: center;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					display: inline-block;
					font-weight: 700;
					margin-right: 30px;
					padding: 5px 0 7px;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
		.number_list_tras {
			counter-reset: section;
			padding-left: 0;
			$start: 0;
			$end: 9;
			@for $i from $start through $end {
				&.counter-start-#{$i} {
					counter-reset: section $i;
				}
			}
			li {
				list-style: none;
				padding-left: 50px;
				position: relative;
				min-height: 32px;
				vertical-align: middle;
				&:before {
					counter-increment: section;
					content: counters(section, ".") " ";
					border: 1px solid $brandPrimary;
					color: $brandPrimary;
					font-size: 20px;
					width: 32px;
					line-height: 1;
					text-align: center;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					display: inline-block;
					font-weight: 300;
					margin-right: 30px;
					padding: 6px 0 4px;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
		.number_list_simple li {
			list-style: decimal;
		}
		.thick_icon {
			padding-left: 0;
			> li {
				list-style: none;
				position: relative;
				padding-left: 50px;
				min-height: 32px;
				&:before {
					content: "";
					background: url(/static/img/tick-circle.svg);
					width: 32px;
					height: 32px;
					text-align: center;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					display: inline-block;
					font-weight: 700;
					margin-right: 30px;
					padding: 0;
					position: absolute;
					left: 0;
					top: 0;

				}
			}
		}
		.thick_thunder {
			padding-left: 0;
			> li {
				list-style: none;
				position: relative;
				padding-left: 50px;
				min-height: 32px;
				&:before {
					content: "";
					background: url(/static/img/tick-circle_thunder.svg);
					width: 32px;
					height: 20px;
					text-align: center;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					display: inline-block;
					font-weight: 700;
					margin-right: 30px;
					padding: 9px 0 3px;
					position: absolute;
					left: 0;
					top: 0;

				}
			}
		}
		ul {
			li {
				list-style: disc;
			}
		}
		.col-10 {
			margin-top: 80px;
			margin-bottom: 80px;
			&.highlight_text {
				border-left: 4px solid $brandPurple;
				p, h5 {
					padding-left: 15px;
				}
			}
			&.quote_image {
				img {
					float: left;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					width: 140px;
					height: auto;
				}
				h5 {
					float: right;
					width: calc(100% - 170px);
					width: -webkit-calc(100% - 170px);
					small {
						display: block;
						font-size: 18px;
						line-height: 30px;
					}
				}
				&:after {
					content: '';
					display: block;
					clear: both;
				}
			}
			&.quote {
				p, h5 {
					padding-left: 15px;
					small {
						display: block;
						font-size: 18px;
						line-height: 30px;
					}
				}
				&:after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
		.table_info {
			h3 {
				border-bottom: 2px solid $brandPrimary;
				padding-bottom: 30px;
				margin-bottom: 30px;
			}
			.row {
				margin-bottom: 40px;
				padding-bottom: 40px;
				border-bottom: 1px solid $grey200;
				p {
					line-height: 30px;
				}
			}
		}
		.wrap_rect {
			.row {
				margin-bottom: 30px;
			}
			h3 {
				text-align: center;
				line-height: 41px;
				font-size: 24px;
			}
			.rect {
				text-align: center;
				display: block;
				width: 100%;
				line-height: 30px;
				font-size: 18px;
				padding: 30px;
				font-weight: 300;
				&.bg_light_violet {
					color: #FFF;
					background: $brandPurple;
				}
			}
		}
		.single_img {
			p {
				text-align: center;
			}
		}
		.light_text {
			p {
				color: $grey600;
				font-weight: 300;
				text-align: left;
			}
		}
		.table_layout {
			table-layout: fixed;
			border-collapse: collapse;
			width: 100%;
			margin-bottom: 40px;
			td, th {
				border: 1px solid $grey500;
				padding: 20px;
				line-height: 20px;
				font-size: 14px;
			}
		}
		.link_button {
			border-radius: 4px;
			font-weight: 500;
			line-height: normal;
			font-size: 14px;
			padding: 9px 16px;
			text-decoration: none;
			margin-top: 40px;
			display: inline-block;
			&.light_violet {
				color: #FFF;
				background: $brandPurple;
			}
		}
	}
}

.bg_gray {
	padding-top: 80px;
	padding-bottom: 80px;
	background: $grey400;
}

.box-columns [class^='col-md'] > div {
	padding: 30px;
	border: 1px solid $grey200;
	height: 100%;
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		padding-top: 0;
		text-align: center;
	}
	ul, ol {
		li {
			line-height: 1.4;
		}
	}
	p {
		line-height: 1.4;
	}
}