#banner_landing {
  background: url(/static/img/website/bg_home.png) no-repeat top center;
  background-size: 100% 100%;
  .col-md-7 {
    padding-top: 155px;
    color: #FFF;
    @media (max-width: 767px) {
      padding-top: 50px;
    }
    h1 {
      font-family: "Co Headline";
      margin-bottom: 35px;
      font-size: 40px;
    }
    h4 {
      font-size: 20px;
      font-weight: 300;
      line-height: 36px;
      color: rgba(255, 255, 255, 0.6);
      b {
        font-weight: 300;
        display: block;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.get_started {
  padding: 180px 0 115px;
  color: $brandPrimary;
  @media (max-width: 767px) {
    padding-top: 100px;
  }
  #wrap_form {
    box-shadow: 0px 4px 10px rgba(27, 6, 58, 0.15);
    background: #FFFF;
    padding: 40px 30px;
    border-radius: 4px;
  }
  div {
    margin-bottom: 20px;
    &.checkbox {
      div {
        margin-bottom: 5px;
      }
    }
  }
  input[type="text"], input[type="email"] {
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    font-size: 16px;
    padding: 16px 19px;
    &:focus {
      border-color: #2BA8FF;
    }
    &.error_input {
      border-color: $alert-color;
    }
  }

  p, label {
    font-size: 14px;
  }
  p {
    line-height: 21px;
  }
  h6 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $grey500;
    font-weight: 300;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $grey500;
    font-weight: 300;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $grey500;
    font-weight: 300;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $grey500;
    font-weight: 300;
  }
  button {
    background: $brandSecondary;
    border-radius: 4px;
    font-size: 16px;
    padding: 17px;
    display: block;
    width: 100%;
    color: #FFF;
    &:hover {
      background: $brandBlue;
    }
  }
  > p {
    font-weight: 300;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
    color: $grey600;
    margin-top: 25px;
  }
}

.home {
  &.htmlPage {
    padding-top: 0;
  }
  .rowFlex, .rowFlexTop {
    flex-wrap: wrap;
  }
  header#navigation_header {
    background: transparent;
    position: fixed !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #FFF;
    &.scrolled {
      background: #FFF;
      color: #000;
    }
    @media (max-width: 767px) {
      .menuMobile.mainmenu {
        display: none;
      }
    }
  }
  footer {
    background: $brandPrimary;
    color: #FFF;
    .manimenuFooter {
      ul {
        li {
          a {
            color: #FFF;
          }
        }
      }
    }
  }
}

.row_alternate {
  .col_left, .col_right {
    width: 50%;
    clear: both;
    margin-bottom: 100px;
  }
  .col_right {
    margin-left: 40%;
  }
  @media (max-width: 767px) {
    .col_left, .col_right {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  h3 {
    line-height: 42px;
    font-size: 32px;
    margin-bottom: 40px;
    letter-spacing: -0.9px;
    font-weight: 700;
  }
}

.rw-words {
  display: inline;
  text-indent: 10px;
}

.rw-words-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s;
}

.rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}

.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

.rw-words-1 span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
}

.rw-words-1 span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

.rw-words-1 span:nth-child(6) {
  -webkit-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
}

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#banner_bottom {
  background: url(/static/img/website/bg_home_bottom.png) no-repeat top center;
  background-size: 100% 100%;
  color: #FFF;
  h4 {
    padding-top: 350px;
    color: #FFF;
    text-align: center;
    margin-bottom: 70px;
  }
  h3 {
    margin-top: 280px;
    margin-bottom: 30px;
  }
  .col-md-7 {
    p {
      font-size: 20px;
      font-weight: 300;
    }
    padding-right: 55px;
    @media(max-width: 767px) {
      padding-right: 0;
    }
  }
  .get_started {
    padding-top: 235px;
    color: #000;
    padding-bottom: 0;
    margin-bottom: -150px;
    @media (max-width: 767px) {
      padding-top: 100px;
    }
  }
  ul {
    li {
      display: inline-block;
      width: 50%;
      list-style: none;
      position: relative;
      padding-left: 50px;
      min-height: 32px;
      padding-right: 30px;
      margin-bottom: 50px;
      font-size: 20px;
      font-weight: 300;
      vertical-align: top;
      @media (max-width: 767px) {
        width: 100%;
      }
      p {
        line-height: 1.4;
        color: rgba(255, 255, 255, 0.6);
      }
      &:before {
        content: "";
        background: url(/static/img/Check-simple.svg) no-repeat top left;
        width: 16px;
        height: 12px;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        font-weight: 700;
        margin-right: 30px;
        padding: 9px 0 3px;
        position: absolute;
        left: 0;
        top: 8px;

      }
    }
  }
}

#about_us_home {
  padding-top: 250px;
  color: $brandPrimary;
  h6 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 16px;
    color: $brandPrimary;
  }
  h2 {
    margin: 0 0 35px;
    padding: 0;
    color: $brandPrimary;
    font-size: 40px;
  }
}

.col_text {
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 35px;
  @media (max-width: 767px) {
    column-count: 1;
    column-gap: 0;
  }
}