.row {
    margin-left: -15px;
    margin-right: -15px;
    $class-slug: col !default;

    @for $i from 1 through 12 {
        .#{$class-slug}-#{$i} {
            width: percentage($i / 12);
            padding-left: 15px;
            padding-right: 15px;
            float: left;
            &:last-child {
                float:right;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}

.one_column {
    $class-slug: col !default;
    @for $i from 1 through 12 {
        .#{$class-slug}-#{$i} {
            width: percentage($i / 12);
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}
img {
    max-width: 100%;
}
.htmlPage {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Co Headline", sans-serif;
        font-weight: 400;
        &.fontFamilyDefault {
            font-family: "Avenir Next", sans-serif;
        }
    }
    h3.fontFamilyDefault {
        font-weight: 500;
    }
    table {
        border-collapse: collapse;
    }
    padding-top: 70px;
    &.staticMenu {
        padding-top: 0;
    }
    color: #1B063A;
    font-size: 16px;
    line-height: 1.4;
    p {
        font-size: 16px;
        line-height: 1.8;
        font-weight: 300;
        margin: 0 0 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    small {
        color: $grey600;
        font-size: 100%;
    }
    .introText {
        padding-top: 0;
        font-weight: 300;
    }
    .introTile {
        padding-top: 125px;
        margin-top:0;
    }
    .textDescription {
        > div {
            margin-bottom: 50px;
            &.marginBottomFooter {
                margin-bottom: -100px;
            }
        }
        h1, h2, h3, h4, h5, h6 {
            a {
                float: right;
            }
        }
        > img {
            max-width: 100px;
        }
        ol, ul {
            padding-left: 0;
            margin: 15px 0;
            li {
                font-weight: 300;
                padding-left: 40px;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        ul {
            padding-left: 20px;
            li {
                font-weight: 300;
                padding-left: 20px;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        ol {
            counter-reset: list;
            li {
                position: relative;
                list-style: none;
                line-height: 1.5;
                &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: counter(list, lower-alpha) ") ";
                    counter-increment: list;
                }

            }
            &.number_list_simple {
                padding-left: 15px;
                li {
                    padding-left: 15px;
                    list-style: decimal;
                    &:before {
                        content: '';
                        display: none;
                    }
                }
            }
        }
        .glossary {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                margin-bottom: 25px;
                b, p {
                    display: inline-block;
                }
                hr {
                    clear: both;
                }
                span {
                    font-size: 40px;
                }
            }
        }
    }
    .navTab {
        ul {
            border-bottom: 1px solid #000;
            padding-left: 0;
            li {
                list-style: none;
                display: inline-block;
                font-weight: 300;
                padding: 5px 15px;
                cursor: pointer;
                margin-bottom: 0;
                &.active {
                    border-bottom: 3px solid #000;
                    font-weight: 400;
                }
            }
        }
    }
    .textDescription {
        .boxView {
            margin: 0 -15px 30px;
            display: -moz-box;
            display: -webkit-flexbox;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: -moz-flex;
            display: flex;
            -webkit-flex-direction: row;
            -moz-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            @media (max-width: 600px) {
                -webkit-flex-direction: column;
                -moz-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                margin-bottom: 0;
            }
            &.largeHeight {
                div {
                    a {
                        padding: 30px 30px 150px;
                    }
                }
            }
            div {
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;
                position: relative;
                -moz-box-flex: 1;
                -webkit-flex: 1;
                -moz-flex: 1;
                -ms-flex: 1;
                flex: 1;
                @media (max-width: 600px) {
                    margin-bottom: 30px;
                    width: 100%;
                }
                a {

                    padding: 30px 30px 50px;
                    height: 100%;
                    display: block;
                    width: 100%;
                    position: relative;
                    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.11);
                    border-radius: 4px;
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                        background: $brandPurple;
                        box-shadow: none;
                        color: $white;
                        h3, p, small {
                            color: $white;
                        }
                    }
                    small {
                        img {
                            position: relative;
                            top: 2px;
                        }
                    }
                }
                h3 {
                    font-family: 'Co Headline', sans-serif;
                    font-weight: 300;
                    line-height: 1.4;
                    color: $brandPrimary;
                    text-decoration: none;
                    margin-top: 0;
                    padding-top: 0;
                }
                p {
                    color: $brandPrimary;
                }
                h5 {
                    font-size: 16px;
                    line-height: 1.8;
                    color: $brandPrimary;
                    text-decoration: none;
                }
                small {
                    color: $brandSecondary;
                    position: absolute;
                    left: 30px;
                    bottom: 30px;
                }
            }
        }
    }
}
table {
    table-layout: fixed;
    &.fourColumns, &.twoColumns {
        width:100%;
        margin: 25px 0;
        td, th {
            border: 1px solid #C1C1C1;
            padding:10px 10px;
        }
        td {
            font-weight: 300;
        }
    }
}