.onboarding {
  &-wrapper {
    height: 100vh;
    position: relative;

    .onboard {
      top: 0;
      right: 0;
      width: 65vw;

      &-wrapper {
        width: 488px;
        margin: 0 auto;
      }

      &-heading {
        width: inherit;
        font-size: 32px;
        line-height: 48px;
      }

      &-text {
        font-size: 16px;
        line-height: 24px;
        color: #1B073A;
      }

      .btn-onboard {
        background-color: #1B073A;
        color: #FFFFFF;
      }

      .btn-login {
        background-color: #6D087C;
        color: #FFFFFF;
      }

      .btn-custom {
        width: 168px;
      }

      &-link {
        color: #6D087C;
        text-decoration: underline;
      }

      &-links-block {
        padding: 0 0 12px 50px;
        position: relative;

        &.todo {
          a {
            background: $brandPurple;
            display: inline-block;
            padding: 10px 15px;
            color: $white;
            border-radius: 4px;
            position: absolute;
            top: -3px;
            right: 24px;
          }
        }

        &.todo, &.disable {
          @for $i from 1 through 9 {
            &.list-style-#{$i} {
              &:before {
                content: '#{$i}';
                display: block;
                width: 32px;
                line-height: 32px;
                position: absolute;
                left: 0;
                top: -3px;
                text-align: center;
                border-radius: 50%;
                border: 1px solid $grey600;
                color: $grey600;
              }
            }
          }
        }

        &.done {
          &:before {
            content: '';
            background: url('/static/img/tick-circle_green.svg');
            display: block;
            width: 32px;
            height: 32px;
            position: absolute;
            left: 0;
            top: -3px;
          }

          a {
            display: inline-block;
            padding: 10px 15px 10px 0;
            color: $brandPurple;
            font-weight: 700;
            position: absolute;
            top: -3px;
            right: 24px;
          }
        }

        &.disable {
          border: none;

          h6, p {
            color: $grey600;
          }
        }
      }
    }

    .placeholder {
      &-heading {
        font-size: 32px;
        padding: 26px;
      }

      &-purple {
        width: 35vw;
        background-color: #6D087C;
      }
    }
  }
}