.Webapp {
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox'] + label {
    padding-left: 25px;
    position: relative;
  }
  input[type='checkbox'] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    border: 2px solid $grey450;
    border-radius: 2px;
    color: $white;
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
  input[type='text'] {
    padding: 5px;
  }
  input[type='checkbox'].error_checkbox + label:after {
    border-color: $alert-color;
  }
  input[type='checkbox']:checked + label:after {
    content: "\F00C";
    position: absolute;
    left: 0;
    top: 0;
    background: $brandPrimary;
    font-size: 12px;
  }
  .containerFieldFlex {
    display: flex;
    input:not([type=checkbox]):not([type=radio]), textarea {
      width: 100%;
    }
  }
  .checkbox {
    a {
      color: $brandPrimary;
      text-decoration: underline;
      &:hover {
        color: $brandBlue;
      }
    }
  }

  small.error {
    color: $alert-color;
    font-size: 14px;
  }

  input.error_input {
    border-color: $alert-color;
  }

  .sentMessage {
    margin-top: 15px;
  }

  .htmlPage p.sentMessage {
    margin-top: 15px;
  }

  .inlineInput {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    input {
      width: 100%;
    }
  }

  select {
    -webkit-appearance: none;
    padding: 5px;
    background: url(/static/img/arrow_select_white.png) no-repeat center right 5px #1B063A;
    background-size: 15px 15px;
    color: #FFF;
    border-radius: 0;
    position: relative;
    padding-right: 30px;
    border: none;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.4;
  }
  .wrapHeader {
    select, input[type='text'] {
      margin-top: 5px;
    }
    label {
      padding-top: 0;
    }
  }
  input:not([type=checkbox]):not([type=radio]), select, textarea {
    height: auto;
    width: auto;
    max-width: 100%;
  }
  .textSection, .contentModal {
    input:not([type=checkbox]):not([type=radio]), textarea {
      width: 100%;
    }
  }
  h5 {
    input:not([type=checkbox]):not([type=radio]), select, textarea {
      width: 100%;
      text-align: center;
    }
  }
  #loginSection {
    input.search_field {
      width: 100%;
    }
  }
  textarea {
    width: 100%;
  }
}