.rowFlex {
    display: flex;
    justify-content: space-between;
    &.alignCenter {
        align-items: center;
    }
}
.row {
    margin-left: -15px;
    margin-right: -15px;
	&:after {
		content: '';
		clear: both;
		display: block;
	}
}

@for $i from 1 through 12 {
    .col-md-#{$i} {
        width: percentage($i/12);
        padding-left: 15px;
        padding-right: 15px;
        @media (max-width: 768px) {
          width: 100%;
        }
    }
}