@media print {
	@page {
		size: A4 landscape;
		margin: 0;
	}
	* {
		-webkit-print-color-adjust: exact;
	}
	html, body {
		-webkit-print-color-adjust: exact;
	}
	.printing header, .printing .slider {
		opacity: 1 !important;
	}
	#loading {
		display: none;
	}
	.review_page .wrapContent > div {
		margin-bottom: 0;
		padding-bottom: 0;
		border: none;
	}
	.review_page div.wrapContent .single_slide .col-md-6:first-child {
		background: #FFF;
	}
	.review_page {
		background: #FFF;
		padding-bottom: 0;
	}
}

.print_scope {

	&.Webapp {
		.printing {
			header {
				opacity: 1;
			}
			.review_page {
				background: #FFF;
			}
		}
	}
	.col-md-12 {
		background: #FFF !important;
	}
	.review_page {
		background: #FFF;
		padding-bottom: 0;
		.wrapContent>div {
			border: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	@media print {
		input, textarea {
			border: none !important;
		}
	}
	input, textarea {
		color: $brandPrimary !important;
	}
	.slide_disabled {
		filter: grayscale(0%);
		opacity: 1;
	}
	.legendChart {
		display: none;
	}
	.recharts-cartesian-axis, .recharts-reference-line, .liquid_assets.areaLAbel {
		display: none;
	}
}
