.boxPresentation {
	display: flex;
	&.textSection {
		min-height: auto;
		display: flex;
		align-items: center;
	}
	.rowFlexTop {
		margin: auto;
		display: -moz-box;
		display: -webkit-flexbox;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		width: 100%;
		padding: 0 50px;
		justify-content: center;
		[class^="col-"] {
			position: relative;
			-moz-box-flex: 1;
			-webkit-flex: 1;
			-moz-flex: 1;
			-ms-flex: 1;
			flex: 1;
		}
		[class^="col-"] > div {
			border: 1px solid #efefef;
			padding: 30px 15px;
			height: 100%;
		}
		.col-md-3, .col-md-4 {
			max-width: 400px;
		}
		h3, .title_box {
			font-size: 24px;
			line-height: 1.4;
			margin-bottom: 25px;
			margin-top: 20px;
			font-weight: 600;
			text-align: center;
		}
		h3 {
			&.title_1 {
				height: 33px;
			}
			&.title_2 {
				height: 66px;
			}
		}
		p, .text_box {
			font-size: 14px;
			line-height: 1.6;
			text-align: left;
		}
		textarea.text_box {
			height: 300px;
			height: 300px;
		}
	}
	&.textSection {
		.rowFlexTop {
			p {
				font-size: 12px;
			}
			.center_text {
				max-width: 800px;
				margin: auto;
				display: block;
				width: 100%;
				textarea {
					width: 100%;
					height: 300px;
				}
				p, textarea {
					font-size: 22px;
					text-align: center;
					line-height: 1.8;
					a {
						color: #21d7f5;
					}
				}
			}
		}
	}
}

.slider {
	.boxPresentation {
		min-height: calc(100vh - 200px);
		&.textSection {
			min-height: auto;
		}
		.rowFlexTop {
			width: calc(100% - 60px) !important;
			width: -webkit-calc(100% - 60px) !important;
		}
	}
}

.preselect_box {
	width: 100%;
	margin-top: -10px;
	display: block;
	margin-bottom: 20px;
}