.recharts-cartesian-axis-ticks g line {
  stroke: #FFF
}
.recharts-legend-wrapper {
  top: 20px !important;
}
.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis line.recharts-cartesian-axis-line {
  display: none;
}
.recharts-wrapper p {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
	line-height: 1.2;
}
.columnInverse {
  flex-direction: row-reverse;
}
#title_editing {
	.legendChart {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

.recharts-cartesian-axis-tick {
	text {
		fill: #000;
	}
}

svg foreignObject p {
	cursor: pointer;
	height: 80px;
	display: block;
}

svg foreignObject {
	text-align: center;
}

svg foreignObject .iconBlack,
svg foreignObject .noIcon {
	cursor: pointer;
	width: 40px;
}
svg foreignObject p span {
	height: 80px;
	vertical-align: baseline;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.invertIcon p span {
	align-items: flex-start;
}

.invertIcon p {
	cursor: pointer;
	height: 80px;
	display: block;
}

svg foreignObject circle {
	cursor: pointer;
}

.selectedIcon .single_icon {
	opacity: 0.3;
	&.selectedIcon {
		opacity: 1;
	}
}

.recharts-wrapper svg {
	overflow: visible;
}

.dot_chart {
	display: block;
	width: 10px;
	height: 10px;
	border: 2px solid;
	border-radius: 50%;
	margin: auto;
	background: #FFF !important;
	cursor: pointer;
	z-index: 2000;
}

svg.line {
	position: absolute;
}

.other.others {
	display: none;
}