.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 99999;
	.wrapModal {
		position: absolute;
		left: 50%;
		top: 50%;
		background: #FFF;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
.modalHeader {
	background: $brandPrimary;
	padding: 10px;
	h3 {
		color: $white
	}
	button {
		background: transparent;
		border: none;
		color: #FFF;
		font-size: 20px;
	}
}
.contentModal {
	.editLabel {
		padding: 15px 10px;
	}
	.checkboxLabel {
		display: flex;
		justify-content: space-around;
		margin-top: 15px;
	}
}
.modalFooter {
	display: flex;
	padding: 10px 0 0;
	button, a {
		display: block;
		width: 100%;
		text-align: center;
	}
}

#wrap_user_change {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 2000;
	#user_change {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: #FFF;
		color: $brandPrimary;
		min-width: 600px;
		h4 {
			background: $brandPrimary;
			padding: 10px;
			margin: 0;
			color: #FFF;
		}
		p {
			padding: 10px;
		}
		button {
			width: 50%;
		}
	}
}