
#loading{
	background-color: $white;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 200px;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	img {
		display: block;
		max-width: 100%;
		margin-bottom: 15px;
	}

}
.object{
	width: 15px;
	height: 50px;
	margin-right:5px;
	background-color: $brandPrimary;
	-webkit-animation: animate 1s infinite;
	animation: animate 1s infinite;
	float: left;
}

.object:last-child {
	margin-right: 0px;
}

.object:nth-child(10){
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
.object:nth-child(9){
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.object:nth-child(8){
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.object:nth-child(7){
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.object:nth-child(6){
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.object:nth-child(5){
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.object:nth-child(4){
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.object:nth-child(3){
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.object:nth-child(2){
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}



@-webkit-keyframes animate {

	50% {
		-ms-transform: scaleY(0);
		-webkit-transform: scaleY(0);
		transform: scaleY(0);

	}



}

@keyframes animate {
	50% {
		-ms-transform: scaleY(0);
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
	}


}