body {
  .slick-dots li {
    height: 15px;
    button {
      height: 15px;
      &:before {
        font-size: 30px;
      }
    }
  }
  .presentation_page .slick-initialized .slick-dots .slick-active button:before {
    font-size: 30px;
  }
}