.table_data {
	padding: 0 50px;
	display: flex;
	align-items: center;
	> div {
		width: 100%;
	}
	table {
		width: 100%;
		table-layout: auto;
		border-collapse: collapse;
		tr {
			th, td {
				border: 1px solid #efefef;
				font-size: 18px;
				padding: 10px;
				font-weight: 400;
              text-align: center;
				&.bg_grey {
					background: #f3f3f3;
				}
				&.bg_violet {
					background: #6C087C;
					color: #FFF;
				}
				&.opacity_col {
					opacity: 0.1;
				}
			}
			th {
				text-align: center;
				font-weight: 700;
				&:empty {
					border:none;
				}
			}
			td {
				&:first-child {
					text-align: left;
				}
			}
		}
		&.small_table {
			tr {
				td {
					&:first-child {
						width: 40%;
					}
				}
			}
			tr:last-child {
				td {
					font-weight: 700;
				}
			}
		}
	}
	.small_table {
		max-width: 800px;
		margin: auto;
	}
	.medium_table {
		max-width: 1200px;
		margin: auto;
	}
	.rowFlexTop {
		justify-content: space-between;
		margin-bottom: 35px;
	}
	.colored_box {
		border: 1px solid #CCC;
		position: relative;
		text-align: left;
		padding: 15px 15px 15px 60px;
		font-size: 16px;
		width: 30%;
		span {
			font-size: 20px;
			&.icon_table {
				position: absolute;
				left: 10px;
				top: 50%;
				-webkit-transform: translate(0, -50%);
				-moz-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
				-o-transform: translate(0, -50%);
				transform: translate(0, -50%);
				font-size: 30px;
				font-family: Arial, sans-serif;
			}
		}
		&.green {
			border-color: $brandGreen;
			span {
				color: $brandGreen;
				&.icon_table:after {
					content: '↗'
				}
			}
		}
		&.blue {
			border-color: $brandSecondary;
			span {
				color: $brandSecondary;
				&.icon_table:after {
					content: '↙'
				}
			}
		}
	}
}
.making_money_full, .table_layout {
	thead {
		tr {
			&:first-child {
				th {
					font-size: 20px;
					font-weight: 500;
					background: $grey200;
					&:first-child, &.bg_grey, &.bg_grey:first-child, &.bg_grey:last-child {
						background: $grey200;
						color: $brandPrimary;
					}
					&:last-child, &.bg_violet, &.bg_violet:first-child, &.bg_violet:last-child {
						background: $brandPurple;
						color: $white;
					}
					&:empty {
						background: transparent;
					}
				}
			}
			th {
				&.bg_grey {
					background: $grey200 !important;
				}
				&.bg_violet {
					background: $brandPurple;
					color: $white;
				}
			}
		}
	}
	tbody {
		th {
			&.bg_grey {
				background: $grey200 !important;
			}
			&.bg_violet {
				background: $brandPurple;
				color: $white;
			}
		}
		tr {
			td {
				text-align: center;
				&:first-child {
					width: 20%;
					text-align: left;
				}
				&.align_center {
					text-align: center;
				}
				&.align_left {
					text-align: left;
				}
				input {
					font-size: 18px;
					width: auto;
					display: inline-block;
					text-align: center;
				}
				&.bg_grey {
					background: $grey200;
				}
				&.bg_violet {
					background: $brandPurple;
					color: $white;
				}
			}
		}
	}
}
.making_money {
	tbody {
		tr {
			td:last-child {
				position: relative;
				padding-left: 40px;
				span {
					&.icon_table {
						position: absolute;
						left: 10px;
						top: 50%;
						-webkit-transform: translate(0, -50%);
						-moz-transform: translate(0, -50%);
						-ms-transform: translate(0, -50%);
						-o-transform: translate(0, -50%);
						transform: translate(0, -50%);
						font-size: 30px;
					}
				}
			}
		}
	}
}
.table_column_2 {
	tbody {
		tr {
			td {
				text-align: center;
				&:first-child {
					width: 60%;
				}
			}
		}
	}
}