.rowFlexTop {
	display: -moz-box;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.edit_page .textPresentation.textSection {
	height: auto !important;
}
.text_title_box {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	width: 100%;
}
.text_price_box {
	font-size: 16px;
	font-weight: 300;
	margin: 15px 0 0;
	text-align: center;
	width: 100%;
}

.text_subtitle_box {
	margin-bottom: 15px;
	width: 100%;
}
.text_text_box {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	width: 100%;
}

textarea.text_text_box {
	height: 150px;
}

textarea.text_subtext_box {
	height: 100px;
}

textarea.moreinfo_text_box {
	margin-bottom: 100px;
	height: 100px;
}
.textSection {
	padding: 0 35px;
	.title_middle {
		max-width: 1000px;
		margin: 25px auto;
		clear: both;
	}
}
.text_title_middle {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
	text-align: center;
}
.text_text_middle {
	font-size: 14px;
	font-weight: 300;
}
.text_table {
	width: calc(100% - 130px);
	width: -webkit-calc(100% - 130px);
	padding: 0 18px;
	border-collapse: collapse;
	margin: auto;
	th {
		text-align: center;
	}
	th, td {
		border: 2px solid $grey200;
		padding: 5px;
		font-size: 14px;
	}
}

.textPresentation {
	display: flex;
	&.textSection {
		min-height: auto;
		display: flex;
		align-items: center;
		> div {
			width: 100%;
		}
	}
  &.text_version_what_will_cost {
		.rowFlexTop {
			.col-md-3 {
				position: relative;
				-moz-box-flex: 1;
				-webkit-flex: 1;
				-moz-flex: 1;
				-ms-flex: 1;
				flex: 1;
				> div {
					border: 1px solid #efefef;
					padding: 20px 10px;
					height: 100%;
					select {
						width: 100%;
						margin-bottom: 15px;
					}
				}
			}
		}
	}
	.rowFlexTop {
		margin: auto;
		display: -moz-box;
		display: -webkit-flexbox;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		width: 100%;
		justify-content: left;
		flex-wrap: wrap;
		height: 100%;
		[class^="col-"] {
			position: relative;
		}
		.col-md-1 {
			display: flex;
			align-items: center;
			align-content: center;

			vertical-align: center;
			text-align: center;
			span {
				margin: auto;
				font-size: 30px;
			}
		}
		.col-md-8 > .rowFlexTop > [class^="col-"],
		.col-md-3 > .rowFlexTop {
			border: 1px solid #efefef;
			border-left: none;
			padding: 30px 15px;
			height: 100%;
			&:first-child, &:last-child {
				border-left: 1px solid #efefef;
			}
		}
		.col-md-3, .col-md-4 {
			max-width: 400px;
		}
		h3, .title_box {
			font-size: 24px;
			line-height: 1.4;
			margin-bottom: 25px;
			margin-top: 20px;
			font-weight: 600;
			text-align: center;
		}
		h3 {
			&.title_1 {
				height: 33px;
			}
			&.title_2 {
				height: 66px;
			}
		}
		h4 {
			text-transform: uppercase;
			font-size: 16px;
		}
		h5 {
			margin-bottom: 5px;
			font-size: 20px;
		}
		h6 {
			font-size: 14px;
			font-weight: 400;
		}
		.text_subtitle_box {
			text-align: center;
		}
		p, .text_box {
			font-size: 14px;
			line-height: 1.6;
			text-align: left;
		}
		textarea.text_box {
			height: 300px;
			height: 300px;
		}
	}
	&.textSection {
		.rowFlexTop {
			p {
				font-size: 12px;
			}
			.center_text {
				max-width: 800px;
				margin: auto;
				display: block;
				width: 100%;
				textarea {
					width: 100%;
					height: 350px;
				}
				p, textarea {
					font-size: 22px;
					text-align: center;
					line-height: 1.8;
					a {
						color: #21d7f5;
					}
				}
			}
		}
	}
	.col-md-12 {
		.rowFlexTop {
			.col-md-4 {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				h5:empty, h6:empty {
					display: none;
				}
			}
		}
	}
}

.slider {
	.boxPresentation {
		min-height: calc(100vh - 200px);
		&.textSection {
			min-height: auto;
		}
		.rowFlexTop {
			width: calc(100% - 60px) !important;
			width: -webkit-calc(100% - 60px) !important;
		}
	}
}