.adviser-pagination {
  height: 80px;

  .items-count {
    span {
      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      color: #909090;
    }
  }

  .numbers {
    span {
      cursor: pointer;
      display: block;
      width: 24px;
      height: 24px;
      color: #1B073A;
      font-size: 16px;
      line-height: 24px;
      margin: 0 5px;
      padding: 2px 8px;
      border-radius: 4px;
    }

    img {
      cursor: pointer;
      margin-left: 5px;
      width: 8px;
      height: 16px;
    }

    .active {
      background-color: #EEEEEE;
    }
  }
}