.adviser-partner-modal {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(193, 193, 193, 0.85);
  overflow: scroll;

  &-body {
    width: 658px;
    background: #FFF;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: 140px;
    border-radius: 4px;
    padding: 31px 24px 16px 30px;
    margin-bottom: 140px;

    h5 {
      img {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 24px;
        right: 24px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-inputs::after, .partner-block::after {
    content: "";
    clear: both;
    display: table;
  }

  .names::after {
    content: "";
    clear: both;
    display: table;
  }

  &-action {
    text-align: right;

    button {
      width: 86px;
      height: 48px;
      background-color: #6D087C;
      color: #FFFFFF;
      font-size: 16px;
      line-height: 19px;
      padding: 0;
      padding-top: 5px;
    }
  }
}