.adviser-header {
  background-color: $bgWhite;
  border-bottom: solid 1px $hrColor;
  top: 0;
  position: fixed;
  width: 100vw;
  z-index: 2000;

  .purple {
    background-color: #6D087C;
  }

  .main-block {
    height: 80px;
    padding: 24px;
  }

  .bottom-shadow {
    height: 1px;
    width: 100%;
    background-color: $grey200;
  }
}
