.back-next-buttons {
  background-color: $bgWhite;
  border-top: solid 1px $hrColor;
  bottom: 0;
  position: fixed;
  width: 100vw;

  .top-shadow {
    height: 1px;
    width: 100%;
    background-color: $grey200;
  }

  .main-block {
    height: 70px;
    padding: 11px;
  }
}
