.box_checkbox {
  .wrap_box_checkbox {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    section {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      max-width: 270px;
      label {
        border: 1px solid $detailsRadioGrey;
        box-sizing: border-box;
        border-radius: 4px;
        display: block;
        height: 100%;
        padding: 24px;
        text-align: center;
        cursor: pointer;
        position: relative;
        h6 {
          font-weight: 400;
          color: $brandPrimary;
        }
        p {
          color: $grey650;
          font-weight: 400;
        }
      }
      input {
        display: none;
        &:checked + label {
          border-color: $brandGreen;
          border-width: 2px;
          &:after {
            background: url("/static/img/green_check.svg");
            background-size: contain;
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            right: 16px;
            top: 16px;
          }
        }
      }
    }
    &.column-1 {
      section {
        max-width: 100%;
      }
    }
    &.column-2 {
      section {
        max-width: 50%;
      }
    }
    &.column-3 {
      section {
        max-width: 33.33%;
      }
    }
  }
  .wrap_box_checkbox_list {
    section {
      label {
        border: 1px solid $detailsRadioGrey;
        box-sizing: border-box;
        border-radius: 4px;
        display: block;
        height: 100%;
        padding: 15px;
        text-align: left;
        cursor: pointer;
        position: relative;
        h6 {
          font-weight: 400;
          color: $brandPrimary;
        }
        p {
          color: $grayLight;
          font-weight: 400;
        }
      }
      input {
        display: none;
        &:checked + label {
          border-color: $brandGreen;
          border-width: 2px;
          padding-right: 40px;
          &:after {
            background: url("/static/img/green_check.svg");
            background-size: contain;
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            right: 16px;
            top: 16px;
          }
        }
      }
    }
    &.column-1 {
      section {
        max-width: 100%;
      }
    }
    &.column-2 {
      section {
        max-width: 50%;
      }
    }
    &.column-3 {
      section {
        max-width: 33.33%;
      }
    }
  }
}