.button_img_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 calc(100% - 85px);
  .image_box {
    flex: 0 0 auto;
    padding-right: 35px;
  }
  img {
    vertical-align: middle;
  }
  div.icon_btn {
    border: 1px solid $borderGray;
    border-radius: 10px;
    padding: 15px;
    display: block;
    margin-right: 25px;
    line-height: 1;
    position: relative;
    width: 60px;
    flex: 0 0 60px;
    &.done {
      &:after {
        content: '';
        background: url(/static/img/tick-circle_green.svg);
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        right: -10px;
        top: -10px;
        background-size: contain;
      }
    }
    img {
      width: 30px;
      vertical-align: middle;
    }
  }
  div.title_btn {
    width: calc(100% - 270px);
    width: -webkit-calc(100% - 270px);

    &.title_user_btn {
      width: calc(100% - 365px);
      width: -webkit-calc(100% - 365px);

      p {
        color: $brandPrimary;
      }
    }
    p {
      color: $textLightGrey;
    }
  }
  h6 {
    color: $textLightGrey;
    font-weight: 400;
  }
  a {
    display: block;
    width: 170px;
    text-align: center;
    height: 32px;
    line-height: 30px;
    &.add_new {
      flex: 0 0 200px;
    }
    &.btn-border-purple {
      border-radius: 4px;
      &:hover {
        background: $brandPrimary;
        color: $bgWhite;
      }
    }
    &.right-text {
      text-align: right;
    }
  }
}

.button_img_text_extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 calc(100% - 85px);
  > * {
    width: 100%;
  }
  .image_box {
    flex: 0 0 auto;
    padding-right: 35px;
  }
  img {
    vertical-align: middle;
  }
  div.icon_btn {
    border: 1px solid $borderGray;
    border-radius: 10px;
    padding: 15px;
    display: block;
    margin-right: 25px;
    line-height: 1;
    position: relative;
    width: 60px;
    flex: 0 0 60px;
    &.done {
      &:after {
        content: '';
        background: url(/static/img/tick-circle_green.svg);
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        right: -10px;
        top: -10px;
        background-size: contain;
      }
    }
    img {
      width: 30px;
      vertical-align: middle;
    }
  }
  div.title_btn {
    width: calc(100% - 270px);
    width: -webkit-calc(100% - 270px);

    &.title_user_btn {
      width: calc(100% - 365px);
      width: -webkit-calc(100% - 365px);

      p {
        color: $brandPrimary;
      }
    }
    p {
      color: $textLightGrey;
    }
  }
  h6 {
    color: $textLightGrey;
    font-weight: 400;
  }
  a {
    display: block;
    width: 170px;
    text-align: center;
    height: 32px;
    line-height: 30px;
    &.add_new {
      flex: 0 0 200px;
    }
    &.btn-border-purple {
      border-radius: 4px;
      &:hover {
        background: $brandPrimary;
        color: $bgWhite;
      }
    }
    &.right-text {
      text-align: right;
    }
  }
}
