.date-year-picker {
    position: relative;

  .react-datepicker__header__dropdown {
    margin-top: 10px;
  }

  .react-datepicker__input-container, .react-datepicker-wrapper {
    width: 100%;

    input {
      font-weight: normal;
    }
  }

  .react-datepicker__month-select {
    height: 45px;
    width: 120px;
    padding: 10px 12px;
  }

  .react-datepicker__year-select {
    height: 45px;
    padding: 10px 12px;
    margin-right: 20px;
  }

  .calendar-icon {
    position: absolute;
    top: 55px;
    right: 10px;
  }
}
