/*
    Styles for ErrorMessage.jsx React Component
 */

.error-message {
  position: relative;
  margin-top: 8px;
  color: $textLightGrey;

  .message {
    color: $brandRed;
    font-weight: normal;
  }
}
