.button_img_text {
   > * {
    width: 33%;
  }
  a {
    width: 25%
  }
  .balance_box {
    padding-bottom: 25px;
    padding-right: $marg_s;
  }
  .description_full {
    flex: 0 0 100%;
    background: $bgLightGray;
  }
  div.action_btn {
    display: flex;
    width: 100px;
    flex: 0 0 100px;
    &.large {
      width: 250px;
      flex: 0 0 250px;
    }
    a {
      padding: 0 20px;
      width: auto;
    }
  }
  ul {
    li {
      list-style: none;
      font-weight: normal;
    }
  }
}

.accordion_item {
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
  justify-content: flex-start;
  align-items: flex-start;
  > * {
    width: 33%;
  }

  .extra-information {
    width: 100%;
    background-color: $grey200;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 30px;

    &-title {
      color: $textLightGrey;
      margin-bottom: 5px;
    }
  }
}

.extra-information {
  width: 100%;
  background-color: $grey200;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 30px;

  &-title {
    color: $textLightGrey;
    margin-bottom: 5px;
  }
}

.controls-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.info-holder {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;

  .icon_btn {
    border: 1px solid $borderGray;
    border-radius: 10px;
    padding: 15px;
    display: block;
    margin-right: 25px;
    line-height: 1;
    position: relative;
    width: 60px;

    img {
      width: 30px;
      vertical-align: middle;
    }
  }
}

.no-result {
  border: 1px solid $brandSecondary;
  border-radius: 4px;
  padding: 10px;
  .icon {
    margin-right: 15px;
  }
}