/*
    FOOTER STYLES
 */

footer {
    border-top: 1px solid rgba(193, 193, 193, 0.3);
    margin-top: 100px;
    > .container {
        padding-top:40px;
        padding-bottom:40px;
    }
    #logoTopMenu {
        max-width: 168px;
        display: inline-block;
    }
    .footerInformation {
        p {
            color: #C1C1C1;
            font-size: 16px;
            line-height: 1.8;
            font-weight: 300;
            margin: 0;
        }
        @media (max-width: 767px) {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
    .manimenuFooter {
        border-top: 1px solid rgba(193, 193, 193, 0.3);
        padding-top: 40px;
        padding-bottom: 40px;
        ul {
            padding: 0;
            margin: 0;
            text-align:right;
            li {
                list-style: none;
                display: inline-block;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: $brandPrimary;
                    font-weight: 300;
                    font-size: 14px;
                    text-decoration: none;
                    &:hover {
                        color: $brandSecondary;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}