/*
    Styles for Header.jsx React Component
 */
#navigation_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  background: #FFF;
  z-index: 2000;
  &.static {
    position: relative;
  }
  .container {
    display: flex;
    align-items: center;
    padding: 20px;

    &.inside-header {
      height: 80px;
      padding: 24px;
    }

    #logoTopMenu {
      display: inline-block;
      margin-right: auto;
      max-width: 168px;
    }
    h6 {
      display: inline-block;
      padding-left: 15px;
      margin-left: 15px;
      border-left: 1px solid $borderGray;
      vertical-align: top;
      line-height: 26px;
      font-weight: 400;
    }
    .mainmenu {
      .mobile-menu-btn {
        -webkit-transition: right .6s;
        -moz-transition: right .6s;
        transition: right .6s;
        right: 40px;
        top: 0;
        height: 14px;
        margin-top: 26px;
        position: absolute;
        width: 24px;
        cursor: pointer;
        background: none;
        border: none;
      }
      .mobile-menu-btn:before {
        top: 0;
      }
      .mobile-menu-btn span {
        top: 6px;
      }
      .mobile-menu-btn:hover:after {
        width: 24px;
      }
      .mobile-menu-btn:after {
        bottom: 0;
        width: 50%;
        right: 0;
        left: auto;
        top:12px;
      }
      .mobile-menu-btn span, .mobile-menu-btn:after, .mobile-menu-btn:before {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background-clip: padding-box;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        background-color: #1B063A;
        content: "";
        height: 2px;
        position: absolute;
        width: 24px;
        left: 0;
      }
      &.menuOpen {
        .mobile-menu-btn {
          z-index: 99;
          right: 260px;
        }
        .mobile-menu-btn:before {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
          display: block;
          top: 7px;
          right: -1px;
          background-color: #1b073a;
        }
        .mobile-menu-btn span {
          opacity: 0;
        }
        .mobile-menu-btn:after {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 7px;
          left: 0;
          background-color: #1b073a;
        }
      }
      &.menuMobile {
        @media (max-width:767px) {
          nav {
            -webkit-transition: right .6s;
            -moz-transition: right .6s;
            transition: right .6s;
            -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
            -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
            background-color: #fff;
            height: 100%;
            position: fixed;
            right: -330px;
            top: 0;
            width: 330px;
            ul {
              float: none;
              font-size: 1.4rem;
              padding-top: 160px;
              li {
                display: block;
                float: none;
                margin-left: 0;
                padding: 0;
                position: static;
                text-align: center;
                border-top: 1px solid #f8f8f8;
                a {
                  margin: 12px 0;
                  display: block;
                }
              }
            }
          }
          &.menuOpen {
            nav {
              right: 0;
            }
          }
        }

      }
      nav {
        ul {
          padding: 0;
          margin: 0;
          li {
            list-style: none;
            display: inline-block;
            margin-right: 15px;
            &:last-child {
              margin-right: 0;
            }
            &.active {
              a {
                color: $brandSecondary;
                text-decoration: none;
              }
            }
            a {
              color: $brandPrimary;
              font-size: 16px;
              font-weight: 400;
              text-decoration: none;
              &.active, &:hover {
                color: $brandSecondary;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  &.scroll_header {
    .container .mainmenu nav ul li {
      a {
        color: #FFF;
      }
    }
    &.scrolled {
      .container .mainmenu nav ul li {
        a {
          color: $brandPrimary;
        }
      }
    }
  }
}

.webapp {
  #navigation_header {
    .container {
      width: 100%;
    }
  }
}

.mt-fix-action-header {
  margin-top: 110px;
  margin-bottom: $marg_xl;
}
.header_nav_button_tab {
  text-align: center;
  border-bottom: 1px solid $grey400;
  button {
    background: transparent;
    border: none;
    padding: 15px;
    color: $grey600;
    &.active {
      border-bottom: 2px solid $brandPurple;
      color: $brandPurple;
    }
  }
}
