.info-row {
  height: 80px;
  border-bottom: 1px solid $grey400;

  &-link {
    &:hover {
      background-color: $grey400;
      cursor: pointer;
    }
  }
  .row-item {
    width: 160px;
  }
  &.three_columns {
    .row-item {
      flex: 0 0 25%;
      &:first-child {
        flex: 0 0 50%;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}