/*
    Styles for Layout.jsx React Component
 */

.input-search {
  position: relative;
  input {
    max-width:  565px;
  }
  .search-btn {
    width: 140px;
    height: 60px;
    background: $brandSecondary;
    margin-left: 15px;
    img {
      width: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
    &:hover {
      background: $brandBlue;
    }
  }

}
