.modal-text {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(193, 193, 193, 0.85);

  &-body {
    width: 658px;
    background: #FFF;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15%;
    border-radius: 4px;
    overflow: hidden;
    padding: 31px 24px 16px 30px;
  }

  p {
    margin-bottom: 40px;
  }

  &-action {
    text-align: right;

    button {
      width: 86px;
      height: 48px;
      background-color: #6D087C;
      color: #FFFFFF;
      font-size: 16px;
      line-height: 19px;
      padding: 0;
      padding-top: 5px;
    }

    .btn-white {
      width: 101px;
      padding: 13px 24px;
      height: 48px;
      color: #6D087C;
      background-color: #FFFFFF;
      font-size: 16px;
      line-height: 19px;
      border: 1px solid #6D087C;
    }

    .btn-purple {
      width: 101px;
      padding: 13px 24px;
    }
  }
}