.modal-form {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(193, 193, 193, 0.85);

  &-body {
    width: 658px;
    background: #FFF;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15%;
    border-radius: 4px;
    overflow: hidden;
    padding: 31px 24px 16px 30px;
  }

  &-inputs::after {
    content: "";
    clear: both;
    display: table;
  }

  &-action {
    text-align: right;

    button {
      width: 86px;
      height: 48px;
      background-color: #6D087C;
      color: #FFFFFF;
      font-size: 16px;
      line-height: 19px;
      padding: 0;
      padding-top: 5px;
    }
  }
}