.ModalInformationIcon {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  position: relative;
  padding: 30px 15px 15px;
  margin-bottom: 45px;

  img {
    background: $brandPurple;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    left: 15px;
    top: 0;
    transform: translate(0, -50%);
  }

  h6 {
    margin-bottom: 10px;
    color: $brandPurple;
  }
}

.ModalInformation {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  position: relative;
  padding: 15px;
  margin-bottom: 30px;

  h6 {
    margin-bottom: 10px;
    color: $brandPurple;
  }
}

.tooltip {
  text-decoration: underline;
  position: relative;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    background: $bgDark;
    color: $white;
    border-radius: 4px;
    padding: 10px 15px;
    left: -15px;
    width: calc(100% + 30px);
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    top: 130%;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 7px;
      border-color: transparent transparent #222;
      line-height: 0;
      _border-color: #000 #000 #222;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color="#000000");
      display: block;
      position: absolute;
      left: 60px;
      top: -6px;
    }
  }
  &:hover {
    span {
      opacity: 1;
    }
  }
}