.modal_form {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  .modal_form_body {
    background: #FFF;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top:15%;
    border-radius: 4px;
    overflow: hidden;
    padding: 30px;
  }
  .modal_form_action {
    text-align: right;
    button {
      margin: 0 0 0 15px;
      font-size: 16px;
    }
  }
}