.custom_select {
  position: relative;
  width: 100%;
  border: 1px solid $grey500;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  color: $textDark;
  &.selectOpen {
    border-color: $brandSecondary;
  }
  &.placeholder {
    color: $grey500;
  }
  .selectedValue {
    display: block;
    position: relative;
    width: 100%;
    padding: 18px 12px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 12px;
      top: 18px;
      width: 16px;
      height: 16px;
      background: url('/static/img/select_arrow.svg');
    }
  }
  ul {
    position: absolute;
    top: 102%;
    width: 100%;
    left: 0;
    padding: 10px 15px;
    z-index: 1000;
    background: $white;
    border: 1px solid $grey500;
    li {
      list-style: none;
      cursor: pointer;
      margin-bottom: $marg_s;
      &:last-child {
        margin-bottom: 0;
      }
      span.title_select {
        display: block;
        color: $brandPrimary;
      }
      span.subtitle_select {
        display: block;
        color: $grey650;
      }
    }
  }
}