.navMenuSidebar {
  padding: 75px 0 0;
  height: 100%;
  overflow: auto;
  li {
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
    a {
      color: $brandPrimary;
      font-weight: 700;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        color: $brandSecondary;
        cursor: pointer;
        text-decoration: none;
      }
      &.alternative_button {
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
    &.active {
      a {
        color: $brandPrimary;
        cursor: pointer;
        text-decoration: none;
      }
    }
    ul.submenu {
      padding-left: 20px;
      li {
        a {
          font-weight: 300;
          &:hover, &.active {
            color: $brandSecondary;
            cursor: pointer;
            text-decoration: none;
          }
        }
        &:first-child {
          margin-top: 5px;
        }
        &.active {
          color: $brandSecondary;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
  > li {
    > a {
      color: $grey600;
      &:hover {
        color: $brandSecondary;
      }
    }
    &.active {
      a {
        color: $brandPrimary;
      }
    }
  }
  @media(max-width: 767px) {
    display: none;
  }
}