.textarea_radio_button {
  position: relative;
  textarea {
    padding: 15px 15px 70px;
  }
  .radiobtn_textarea {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    width: 100%;
    padding: 0 15px;
  }
}

.soft_facts_list {
  background: $bgLightGray;
  border-radius: 4px;
  margin-top: $marg_s;
  width: 50%;
  padding: 25px 50px 25px 25px;
  position: relative;
  p {
    color: $brandPrimary;
    font-size: 16px;
    span {
      color: $brandPurple;
      margin-right: 10px;
      display: inline-block;
      &:first-child {
        margin-left: 10px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &.author {
      color: $grey500;
      margin-top: $marg_s;
      font-size: 14px;
    }
  }
  .delete_facts {
    border: none;
    background: transparent;
    position: absolute;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
  }
}