.box_border {
  border: 1px solid $grey500;
  border-radius: 4px;
  .pb {
    padding: 25px;
  }
}
.link_text_icon {
  background: transparent;
  color: $brandPrimary;
  border: none;
  text-align: left;
  transition: all 0.5s;
  span {
    float: right;
  }
  img {
    transition: all 0.5s;
    transform-origin: center center;
    width: 25px;
    height: auto;
  }
  &.openBtn {
    img {
      transform: rotate(-180deg);
    }
  }
  &.closeBtn {
    img {
      transform: rotate(0deg);
    }
  }
}
.answer_list {
  transition: all 0.5s;
  overflow: hidden;
  &.close {
    height: 0;
  }
  &.open {
    height: 360px;
  }
  li {
    list-style: none;
    padding: 10px 25px;
    a {
      float: right;
      color: $brandPurple;
      font-weight: 400;
    }
  }
}
.border_top {
  border-top: 1px solid $grey450;
  padding: 25px;
}