input[type="checkbox"], input[type="radio"]:not([class*="span"]) {
  border-radius: 2px;
  border: 2px solid $checkboxGrey;
  height: 18px;
  margin-right: 8px;
  width: 18px;
  vertical-align: middle;

  &:checked {
    background: url("/static/img/tick-white.svg") 40% / 14px no-repeat $brandGreen;
    border: 0;
  }
}
