.preloader-spinner {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-top: 10px;
  animation: preloader-rotate 0.7s infinite linear;
  border: 4px solid #000;
  border-right-color: #23d7f5;
  border-bottom-color: #ff0074;
  border-left-color: #6e007e;
  border-radius: 50%;
}

@keyframes preloader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
