// RADIO BUTTON & CHECKBOX HACK
// https://css-tricks.com/the-checkbox-hack/

.round-radio {
  .wrap {
    position: relative;

    input[type="radio"] {
      cursor: pointer;
      height: 55px;
      max-width: 400px;
      opacity: 0;
      position: absolute;

      &:checked + button {
        border: 2px solid $brandGreen;
      }
    }
    input[type="radio"] + button {
      background-color: white;
      border: 1px solid $borderGray;
      color: $brandPrimary;
    }
    button[type="button"] {
      border-radius: 4px;
      font-weight: normal;
      height: 55px;
      line-height: 43px;
      text-align: center;
      width: 100%;
    }
    .checked-icon {
      display: none;
      height: 12px;
      position: absolute;
      right: 16px;
      top: 18px;
      width: 16px;

      &.visible {
        display: block;
      }
    }
  }
}

.details-radio {
  margin-right: 0.5em;
  margin-top: 0.3em;

  input[type="radio"] {
    cursor: pointer;
    height: 18px;
    opacity: 0;
    position: absolute;
    width: 18px;

    &:checked ~ .details-radio-btn {
      background-color: $brandGreen;
    }
  }
  input[type="radio"] ~ .details-radio-btn {
    border: 3px solid white;
    border-radius: 100%;
    box-shadow: 0 0 0 2px $detailsRadioGrey;
    height: 16px;
    width: 16px;
  }
}

.tick-radio {
  input[type="radio"] {
    cursor: pointer;
    height: 60px;
    opacity: 0;
    position: absolute;
    width: 100%;

    &:checked ~ .tick-button > .tick-input {
      border: 1px solid $brandGreen;
      border-left: 1px solid $borderGray;
      color: $textDark;
    }
    &:checked ~ .tick-button > .tick-icon {
      background: url("/static/img/tick-green.svg") 50% no-repeat white;
      background-size: 20px;
      border: 1px solid $brandGreen;
      border-right: 0;
    }
  }

  .tick-button {
    border: 0;
    padding: 0;
  }
  .tick-icon,
  .tick-input {
    background-color: white;
    border: 1px solid $borderGray;
    color: $textGrey;
    height: 60px;
    padding: 18px 12px;
  }
  .tick-icon {
    border-bottom-left-radius: 4px;
    border-right: 0;
    border-top-left-radius: 4px;
    float: left;
    width: 60px;
  }

  .tick-input {
    background-color: $bgLightGray;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    text-align: left;
    width: calc(100% - 60px);
  }
}

.option-wrap {
  input[type="radio"] {
    min-height: 85px;
    width: 100%;
  }
  button {
    min-height: 85px;
    max-width: 235px;
    padding-left: 31px;
    padding-right: 31px;
    line-height: 19px !important;
  }
}
