/*
    TABLE STYLES
 */

.docs-table {
    margin-bottom: 5rem;
    border-collapse: collapse;
    table,
    th,
    td {
        border: 1px solid $tableBorder;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 12px 15px;
        text-align: left;
        &.ta-c {
            text-align: center;
        }
    }

    th {
        background-color: $tableHeaderBg;
        font-weight: 300;
    }
}

.table-row > td {
    font-weight: 500;
}

.download-blue {
    color: $brandDarkBlue;
}

.table_information {
    border-collapse: collapse;
    width: 100%;
    tr {
        border-bottom: 1px solid $grey450;
        th {
            text-align: left;
            color: $tableBorder;
            padding-bottom: $marg_s;
        }
        td {
            padding: $marg_s 0;
        }
        &:last-child {
            td {
                border: none;
            }
        }
    }
    .bg_grey {
        background: $grey400;
        td {
            padding: $marg_s 0;
            &:first-child {
                padding-left: 15px;
            }
        }
    }
}

.table_information_extra {
    border-collapse: collapse;
    width: 100%;
    tr {
        border-bottom: 1px solid $grey450;
        th {
            text-align: left;
            color: $grey500;
            padding-bottom: $marg_s;
            &:first-child {
                width: 45%;
            }
        }
        td {
            padding: $marg_s 0;
        }
        &:last-child {
            td {
                border: none;
            }
        }
    }
    .bg_grey {
        background: $grey400;
        td {
            padding: $marg_s 0;
            &:first-child {
                padding-left: 15px;
            }
        }
    }
}

.end_questionary {
    padding: $marg_s;
    align-items: center;
    align-content: center;
    .icon {
        flex: 0 0 32px;
        margin-right: $marg_s;
    }
    h6 {
        flex: 0 0 300px;
    }
    button {
        text-align: right;
    }
    ul {
        padding-bottom: $marg_s;
    }
}