// Fonts
@import "./Modules/fontAwesome/fontawesome";

@import "Pages/edit_mode",
"Pages/view_mode",
"Pages/login";

@import "Modules/charts",
"Modules/table",
"Modules/box",
"Modules/modal",
"Modules/preload",
"Modules/slide",
"Modules/text";

@import "Layout/layout",
"Layout/header",
"Layout/form_fields",
"Layout/print";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.Webapp {
  h1, h2, h3, h4, h5, h6, p, input, textarea, label, span {
    font-family: Montserrat, sans-serif;
    text-rendering: geometricPrecision;
    letter-spacing: 0;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
    font-weight: 500;
  }
  input, textarea {
    font-family: $font-family;
    font-size: 16px;
    color: $brandPrimary;
    resize: none;
  }

  p {
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 0;
    text-rendering: geometricPrecision;
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }
  img {
    max-width: 100%;
  }

  .pull_left {
    float: left;
  }

  .pull_right {
    float: right;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .paddingRight40 {
    padding-right: 40px;
  }
  .wrapSlide {
    position: relative;
  }
  &.LoginPage {
    .spinner-wrapper {
      display: none;
    }
  }
}
.lightText {
  font-weight: 300 !important;
}
.boldText {
  font-weight: 700 !important;
}