<!DOCTYPE html>
<head>
<title>Page not found</title>
<link rel="stylesheet" type="text/css" href="{{ static_url('main.css') }}" media="all">
</head>
<body>

<div class="mt-10em">
    <section class="row span-6 mx-a ta-c">
        <img
            src="static/img/sadface.svg"
            alt="Sad face emoji"
        />
        <h1>Page not found</h1>
        <p>
            Please check your URL or head straight to the homepage.
        </p>
        <div class="mt-2em span-3 mx-a">
            <a href="/" class="btn btn-primary edit-btn">Homepage</a>
        </div>
    </section>
</div>

</body>

</html>
