<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>{% block page_title %}Octopus Wealth{% end %}</title>
    <link rel="icon" type="image/png" href="{{ static_url('img/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/main.css') }}" media="all">

    {% if include_google_tag_manager() %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KGZGB8C');</script>
    <!-- End Google Tag Manager -->
    {% end %}
</head>
<body class="mx-a">
    {% if include_google_tag_manager() %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGZGB8C"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% end %}

    <main id="root">
    </main>

<script async src="{{ static_url('js/main.bundle.js') }}"></script>
</body>
