.st0{fill:none;stroke:#000000;stroke-width:40;stroke-linecap:square;stroke-miterlimit:10;}
.st1{fill:none;stroke:#000000;stroke-width:40;stroke-miterlimit:10;}

.st2{fill:#FFFFFF;stroke:#000000;stroke-width:40;stroke-miterlimit:10;}
.st3{fill:#FFFFFF;stroke:#000000;stroke-width:40;stroke-linecap:square;stroke-miterlimit:10;}

.circleAlert{fill:#FFFFFF;stroke:#000000;stroke-width:550px;stroke-miterlimit:10;}
.triangleAlert{fill:#000000;stroke:#000000;stroke-width:30;stroke-linecap:square;stroke-miterlimit:10;}

.fullPurple {fill:$brandPrimary; stroke: $brandPrimary}

.a {fill: #000000;stroke-linecap:square;stroke-miterlimit:10;}

.cls-1 {fill: #000000;}

.no_icon0 {
    fill: none;
    stroke: #000000;
    stroke-width: 65;
    stroke-miterlimit: 10;
}

.no_icon1 {
    fill: none;
    stroke: #000000;
    stroke-width: 65;
    stroke-miterlimit: 10;
    stroke-dasharray: 124.0676, 9.5437;
}

.iconRed {
    .st0 {
        fill: none;
        stroke: #FF0000;
        stroke-width: 40;
        stroke-linecap: square;
        stroke-miterlimit: 10;
    }
    .st1 {
        fill: none;
        stroke: #FF0000;
        stroke-width: 40;
        stroke-miterlimit: 10;
    }

    .st2 {
        fill: #FFFFFF;
        stroke: #FF0000;
        stroke-width: 40;
        stroke-miterlimit: 10;
    }
    .st3 {
        fill: #FFFFFF;
        stroke: #FF0000;
        stroke-width: 40;
        stroke-linecap: square;
        stroke-miterlimit: 10;
    }

    .circleAlert {
        fill: #FFFFFF;
        stroke: #FF0000;
        stroke-width: 550px;
        stroke-miterlimit: 10;
    }
    .triangleAlert {
        fill: #FF0000;
        stroke: #FF0000;
        stroke-width: 30;
        stroke-linecap: square;
        stroke-miterlimit: 10;
    }

    .fullPurple {
        fill: $brandPrimary;
        stroke: $brandPrimary
    }

    .a {
        fill: #FF0000;
        stroke-linecap: square;
        stroke-miterlimit: 10;
    }

    .cls-1 {
        fill: #FF0000;
    }
}

#title_editing {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    > div {
        width: 48%;
        &:last-child {
            text-align: right;
        }
    }
    div {
        span {
            margin: 0 10px;
        }
        input, button, span {
            display: inline-block;
            vertical-align: top;
        }
        input {
            line-height: 16px;
        }
        &:last-child {
            input {
                width: calc(100% - 40px);
                width: -webkit-calc(100% - 40px);
                font-size: 13px;
                &.title {
                    font-size: 32px;
                }
            }
            button {
                display: inline-block;
                width: 20px;
                height: 10px;
                margin: 0 15px 0 5px;
                vertical-align: middle;
                border: none;
                cursor: pointer;
                font-size: 0;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
    textarea.title, input.title, span.title {
        margin: 0;
        padding: 0;
        font-size: 32px;
        line-height: 1.4;
        font-weight: 500;
    }
    textarea.subtitle, input.subtitle, span.subtitle {
        font-size: 20px;
        margin-top: 10px;
        font-weight: 300;
        line-height: 1.4;
    }
}

.subtitleEditing {
    margin: 0px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
    margin-top: -35px;
  input {
    max-width: 400px;
    font-size: 14px;
    padding: 5px 0;
  }
}
circle {
    cursor: pointer;
}
.customModal {
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 2000;
    .contentModal {
        position: absolute;
        top: 50px;
        width: 400px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        background: #FFF;
        z-index: 100;

        .modalHeader {
            display: flex;
            justify-content: space-between;
        }
        .wrapContentModal {
            height: 400px;
            overflow: auto;
        }
    }
}

.listStyleIcon {
    font-size: 0;
    margin: 0;
    padding: 0;
    li {
        width: 25%;
        display: inline-block;
        list-style: none;
        padding: 5px;
        &.activeIcon {
            background: $brandBlue;
        }
        .no_btn {
            width: 100%;
        }
    }
}
.boxPresentation {
    .row {
        > div {
            text-align: center;
            > svg {
                display:block;
                margin:auto;
                width: 100px;
            }
            input {
                display: block;
                width: 100%;
                margin-bottom: 25px;
            }
            textarea {
                display: block;
                width: 100%;
            }
        }
    }
}

.build_page, .edit_page {
    header {
        background: #F1F1F1;
        padding: 20px;
        text-align: left;
        .wrapHeader {
            display: flex;
            justify-content: space-between;
        }
        label {
            display: block;
            text-align: center;
            margin-top: 10px;
            padding: 5px;
        }
        .row_field_form {
            > div {
                width: auto;
                display: inline-block;
                padding-left: 5px;
                padding-right: 5px;
                float: left;
            }
            input, select {
                display: block;
                width: 100%;
                font-size: 14px;
                margin-top: 5px;
            }
        }
        button, a {
            margin: 0;
        }
    }
    .subtitleEditing {
        margin-bottom: 35px;
    }
    .title_slide_editing {
        margin: auto;
    }
}
.boxShadow {
    h5 {
        font-size: 18px;
        font-weight: 400;
        input, span {
            display: inline-block;
            width: auto;
            font-size: 18px;
            font-weight: 400;
        }
    }
    h2 {
        input {
            width: 400px;
            display: inline-block;
            font-size: 20px;
            color: $brandGreen;
        }
    }
}
#title_editing {
    .column-1 {
        input {
            display: block;
            width: 100%;
            margin-bottom: 15px;
        }
    }
}
.title_slide_editing {
    div {
        max-width: 700px;
        margin: 50px auto;
        input {
            font-size: 40px;
            font-weight: 300;
            line-height: 1.4;
            text-align: center;
        }
        &:first-child {
            input {
                font-size: 58px;
                line-height: 1.4;
                font-weight: 600;
            }
        }
    }
}
.box_edit {
    .rowFlex {
        > div {
            input {
                font-size: 25px;
                line-height: 1.4;
                margin-bottom: 15px;
                text-align: center;
            }
            textarea {
                font-size: 18px;
                line-height: 1.4;
                min-height: 250px;
            }
        }
    }
    .box_icon {
        text-align: center;
    }
}
#navigation_review {
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 2000;
    > div > div {
        display: none;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            padding: 0;
            margin: 0;
            &.your_lifeine {
                a {
                    background: red;
                }
            }
            a {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $brandPrimary;
                cursor: pointer;
                margin: 10px 20px;
                list-style: none;
                position: relative;
                opacity: .5;
                &.active, &:hover {
                    opacity: 1;
                }
                .overlay {
                    display: none;
                    position: absolute;
                    top: 50%;
                    bottom: 0;
                    right: 20px;
                    z-index: 100;
                    background-color: $brandPrimary;
                    color: #FFF;
                    padding: 10px;
                    width: 200px;
                    height: 60px;
                    text-align: center;
                    -webkit-transform: translate(0, -50%);
                    -moz-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                }
                .overlay:after {
                    content: '';
                    position: absolute;
                    -webkit-transform: translate(0, -50%);
                    -moz-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    top: 50%;
                    right: -8px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 0 5px 8.7px;
                    border-color: transparent transparent transparent $brandPrimary;
                    line-height: 0px;
                    _border-color: #000000 #000000 #000000 $brandPrimary;
                    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
                }
                &:hover .overlay {
                    display: block;
                }
            }
        }
    }
}

.col-md-10 {
    width: 1920px;
    height: 1080px;
}

input[type=text],
textarea {
    width: 100%;
    display: block;
}
.recharts-wrapper {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.more_info_table {
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 35px;
    max-width: 1200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.more_info_small {
    text-align: left;
    font-size: 12px;
    line-height: 1.6;
    margin-top: 35px;
    max-width: 1200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

textarea.more_info_small {
    height: 200px;
}
textarea {
    padding: 5px;
}

header.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.zoom_box {
  margin: 70px auto 0;
}
.build_page {
    .zoom_box {
        padding-top: 50px;
        > div {
            background-position: bottom center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}
.saved_message {
    min-height: calc(100vh - 82px);
    min-height: -webkit-calc(100vh - 82px);
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    div {
        margin: auto;
    }
    p {
        font-size: 18px;
    }
}
.wrapContent {
    width: 100%;
}
.SSoAChart {
    margin: auto;
}
.slide_chart_class {
    position: relative;
}