#loginSection {
	min-height: calc(100vh - 270px);
	min-height: -webkit-calc(100vh - 270px);
	padding: 90px 20px 0;
	input.search_field {
		font-size: 16px;
		padding: 5px;
		margin-top: 10px;
	}
}
#clientList {
	margin-top: 15px;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			color: $brandPrimary;
			a {
				color: $brandPrimary;
				&:hover {
					text-decoration: none;
				}
			}
			i {
				font-size: 30px;
				vertical-align: middle;
				margin-right: 10px;
			}
			&:hover {
				color: $brandBlue;
				a {
					color: $brandBlue;
				}
			}
		}
	}
}