.heading_title {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  div {
    text-align: left;
  }
  h3, input.title {
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 500;
  }
  h4, input.subtitle {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.4;
  }
  .legendChart {
    display: flex;
    justify-content: space-between;
    span {
      display: inline-block;
      width: 20px;
      height: 10px;
      margin: 0 15px 0 5px;
    }
  }
}

.boxShadow {
  max-width: 1200px;
  margin: 0 auto 35px;
  border: 1px solid $brandGreen;
  padding: 20px;
  text-align: center;
  h2 {
    margin: 0 0 15px;
    padding: 0;
    color: $brandGreen;
    font-size: 25px;
    font-weight: 500;
    div {
      width: 40px;
      display: inline-block;
      position: relative;
      top: 10px;
      margin-right: 10px;
      .st0 {
        stroke: $brandGreen;
      }
    }
  }
  h5 {
    color: $brandPrimary;
  }
}

.tablePresentation {
  table {
    table-layout: fixed;
    width: 100%;
    max-width: 800px;
    margin: auto;
    td, th {
      padding: 15px;
      text-align: center;
    }
    tbody {
      tr {
        border-top: 1px solid #F8F8F8;
        &:nth-child(odd) {
          background: #FFF;
        }
        &:nth-child(even) {
          background: #F9F9F9;
        }
        &:first-child {
          font-weight: 700;
        }
      }
    }
  }
}
.presentation_page {
  position: relative;
  height: 100vh;
  display: flex;
  vertical-align: middle;
  align-items: center;
  background: #000;
  > div {
    background: #FFF;
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  .presentationHeader {
    height: 50px;
    padding: 20px 50px;
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    left: 0;
    top: 0;
    width: 100%;
    img {
      max-height: 25px;
      width: auto;
      vertical-align: top;
    }
    div:first-child {
      font-size: 18px;
      vertical-align: top;
      line-height: 20px;
      a {
        text-decoration: none;
        color: $brandPrimary;
      }
    }
  }
  .navigation_presentation {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2000;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
      }
    }
  }
  .slick-initialized {
    .slick-slide {
      display: flex;
      vertical-align: middle;
      align-items: center;
      text-align: center;
      &.chart {
        align-items: start;
      }
      .intro {
        > div {
          background: url(/static/img/presentation/octopus_first_slide.png) no-repeat bottom center !important;
          background-size: contain !important;
        }
        img {
          width: 750px;
          max-width: 80%;
          height: auto;
          display: inline-block;
          vertical-align: middle;
          margin: auto;
        }
      }
      > div {
        width: 100%;
        .tablePresentation {
          margin: auto;
        }
      }
      div.table, div.box, div.chart, div.areaLabel, div.text_description {
        .heading_title {
          padding-top: 0px;
        }
      }
      .boxPresentation.textSection {
        display: flex;
        vertical-align: middle;
        align-items: center;
      }
    }
    .slick-dots {
      display: block;
      position: absolute;
      right: 0;
      bottom: auto;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 40px;
      .slick-active {
        button {
          &:before {
            font-size: 10px;
          }
        }
      }
    }
  }
  .recharts-wrapper {
    padding-left: 50px;
    &.SSoAChart {
      padding-left: 0;
    }
  }
  .table {
    margin-bottom: 0;
  }
  .hiddenLabel {
    .lastLabel,
    .recharts-curve.recharts-area-area {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
  .viewLabel {
    .lastLabel,
    .recharts-curve.recharts-area-area {
      opacity: 1;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
}

.review_page, .presentation_page {
  position: relative;
  vertical-align: middle;
  align-items: center;
  background: #000;
  div.wrapContent {
    position: relative;
    margin: auto;
    overflow: hidden;
    min-height: calc(100vh - 85px);
    min-height: -webkit-calc(100vh - 85px);
    background: #FFF;
    .single_slide {
      .col-md-6 {
        height: calc(100vh - 85px);
        height: -webkit-calc(100vh - 85px);
        align-items: center;
        display: flex;
        float: left;
        flex-wrap: wrap;
        > div {
          margin: auto;
        }
      }
      .col-md-6:first-child {
        background: #000;
      }
    }
    .single_slide {
      .box_edit {
        .col-md-6 {
          height: auto;
          align-items: center;
          display: block;
          float: left;
          flex-wrap: wrap;
          > div {
            margin: auto;
          }
        }
        .col-md-6:first-child {
          background: #FFF;
        }
      }
    }
  }
  .intro {
    > div {
      background: url(/static/img/presentation/octopus_first_slide.png) no-repeat bottom center !important;
      background-size: contain !important;
    }
    img {
      width: 750px;
      max-width: 80%;
      height: auto;
      display: inline-block;
      vertical-align: middle;
      margin: auto;
    }
  }
  .presentationHeader {
    height: 50px;
    padding: 20px 50px;
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    left: 0;
    top: 0;
    width: 100%;
    img {
      height: 25px;
      max-width: none;
      width: auto;
      vertical-align: top;
    }
    div:first-child {
      font-size: 18px;
      vertical-align: top;
      line-height: 20px;
      a {
        text-decoration: none;
        color: $brandPrimary;
      }
    }
  }
  .navigation_presentation {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2000;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
      }
    }
  }
  .recharts-wrapper {
    padding-left: 50px;
    &.SSoAChart {
      padding-left: 0;
    }
  }
  .table {
    margin-bottom: 0;
  }
  .hiddenLabel {
    .lastLabel,
    .recharts-curve.recharts-area-area {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
  .viewLabel {
    .lastLabel,
    .recharts-curve.recharts-area-area {
      opacity: 1;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
}
.heading_title_slide {
  display: block;
  text-align: center;
  h1 {
    font-size: 58px;
    line-height: 1.4;
    font-weight: 600;
  }
  h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.4;
  }
}
.pdf_preview {
  .slick-track {
    transform: none !important;
    width: 100% !important;
  }
}

.review_page {
  padding-bottom: 100px;
  .wrapContent {
    > div {
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 2px solid $brandPrimary;
    }
    > div#navigation_review {
      margin-bottom: 0;
    }
  }
  .alignCenter {
    position: relative;
  }
  .col-md-10 {
    width: 1920px;
    height: 1080px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    &.disabled {
      opacity: .7;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
  .col-md-12 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .col-md-2 {
    padding-right: 60px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    h6 {
      font-size: 20px;
    }
    button, a {
      display: block;
      width: 100%;
      text-align: center;
    }
    &.disabledButton {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
  .toDoListNotes {
    padding: 0 60px 0 0;
    height: 78%;
    h6 {
      font-size: 20px;
    }
    button, a {
      display: block;
      width: 100%;
      text-align: center;
    }
    &.disabledButton {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
    h3 {
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
      margin-bottom: 15px;
    }
    .toDoList {
      height: calc(100vh - 210px);
      overflow: auto;
    }
    textarea.done_0 {
      border: 1px solid $brandPrimary;
    }
    textarea.done_1 {
      border: 1px solid $brandBlue;
    }
    textarea {
      width: -webkit-calc(100% - 30px);
      &:last-child {
        margin-bottom: 0;
      }
    }
    .listItem {
      display: flex;
      align-items: start;
      margin-bottom: 10px;
      flex-wrap: wrap;
      textarea, button {
        display: inline-block;
      }
      textarea {
        width: calc(100% - 30px);
        width: -webkit-calc(100% - 30px);
      }
      button {
        background: $brandPrimary;
        color: #FFF;
        font-size: 12px;
        width: 20px;
        line-height: 20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin-left: 10px;
      }
    }
  }
  .single_slide {
    div.col-md-6 {
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &:last-child {
        align-items: start;
        > div {
          margin: 0 auto;
        }
      }
      > div {
        margin: auto;
      }
      div.generalNotes, div.slideNotes {
        width: 100%;
        ul {
          height: calc(50vh - 110px);
          overflow: auto;
        }
        label {
          display: block;
          padding-right: 15px;
        }
        h3 {
          margin-bottom: 25px;
        }
      }
      div.generalNotes {
        padding-top: 60px;
      }
      div.slideNotes {
        margin-bottom: 75px;
        height: 100%;
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          text-align: left;
          margin-bottom: 10px;
        }
      }
    }
  }
  #nav_presentation_button {
    position: absolute;
    left: auto;
    bottom: 25px;
    top: auto;
    z-index: 1000;
    right: 50px;
    width: calc(100% - 65px);
    width: -webkit-calc(100% - 65px);
  }
}

.slick-slider .slick-track {
  overflow: hidden;
}

.printPage {
  > div {
    position: relative;
  }
  .presentationHeader {
    height: 50px;
    padding: 20px 50px;
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    img {
      max-height: 25px;
      width: auto;
      vertical-align: top;
    }
    div:first-child {
      font-size: 18px;
      vertical-align: top;
      line-height: 20px;
      a {
        text-decoration: none;
        color: $brandPrimary;
      }
    }
  }
  &.col-md-12 {
    background: url(/static/img/presentation/octopus_first_slide.png) no-repeat bottom center;
    background-size: contain;
    font-size: 50px;
    display: flex !important;
    div {
      margin: auto;
    }
    img {
      width: 450px;
      max-width: 100%;
      height: auto;
      display: inline-block;
      vertical-align: middle;
    }
    .presentationHeader {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      opacity: 1 !important;
      img {
        width: auto;
      }
    }
  }
}

.headerPrint {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 1 !important;
  img {
    width: auto;
  }
}

.slide_disabled {
  opacity: .7;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#formNewAdvisor {
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  padding: 50px;
  border: 1px solid $brandPrimary;
  min-width: 400px;
  select {
    font-size: 16px;
    padding: 5px;
    margin-top: 0;
    display: block;
    width: 100%;
  }
  button {
    width: 100%;
  }
}

.nav_page {
  .single_slide {
    .boxPresentation {
      div.col-md-6 {
        height: auto;
        flex: 0 0 50%;
        > div {
          width: 100%;
        }
      }
    }
    div.col-md-6 {
      position: relative;
      height: 100vh;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      > div {
        margin: auto;
      }
      div.generalNotes, div.slideNotes {
        width: 100%;
        ul {
          height: calc(50vh - 110px);
          overflow: auto;
        }
        label {
          display: block;
          padding-right: 15px;
        }
        h3 {
          margin-bottom: 25px;
        }
      }
      div.generalNotes {
        padding-top: 60px;
      }
      div.slideNotes {
        margin-bottom: 750px;
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          text-align: left;
          margin-bottom: 10px;
        }
      }
    }
  }
  #nav_presentation_button {
    position: absolute;
    left: auto;
    bottom: 25px;
    top: auto;
    z-index: 1000;
    right: 50px;
    width: calc(50% - 65px);
    width: -webkit-calc(50% - 65px);
  }
}

.recharts-area-dots {
  opacity: 1;
  animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sticky_header, .scroll_header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.moreInfoTextChart {
  bottom:20px;
  padding: 0 50px;
  position: absolute;
  left: 0;
  width: 100%;
  h6 {
    text-align: center;
  }
  p {
    font-size: 12px;
    line-height: 1.2;
    margin-top: 10px;
  }
}
.heading_title_slide {
  h1 {
    span {
      font-weight: 300;
    }
  }
}
.intro {
  > div {
    background: url(/static/img/presentation/octopus_first_slide.png) no-repeat bottom center !important;
    background-size: contain !important;
  }
}

.Webapp table {
  font-family: Montserrat, sans-serif;
}