.links-block {
  border: 1px solid $grey500;
  border-radius: 4px;
  padding: 27px 176px 27px 80px;
  position: relative;

  h6, p {
    color: $brandPrimary;
  }

  p {
    margin-top: 8px;
    &:first-child {
      margin-top: 1px;
    }
  }

  &.todo {
    a {
      background: $brandPurple;
      display: inline-block;
      padding: 10px 15px;
      color: $white;
      border-radius: 4px;
      position: absolute;
      top: 27px;
      right: 24px;
    }
  }

  &.todo, &.disable {
    @for $i from 1 through 10 {
      &.list-style-#{$i} {
        &:before {
          content: '#{$i}';
          display: block;
          width: 32px;
          padding: 8px 0 5px;
          position: absolute;
          left: 23px;
          top: 23px;
          text-align: center;
          border-radius: 50%;
          border: 1px solid $grey600;
          color: $grey600;
        }
      }
    }
  }

  &.done {
    &:before {
      content: '';
      background: url('/static/img/tick-circle_green.svg');
      display: block;
      width: 32px;
      height: 32px;
      position: absolute;
      left: 24px;
      top: 27px;
    }

    a {
      display: inline-block;
      padding: 10px 15px 10px 0;
      color: $brandPurple;
      font-weight: 700;
      position: absolute;
      top: 27px;
      right: 24px;
    }
  }

  &.disable {
    h6, p {
      color: $grey600;
    }
  }
}