.handy-hints {
  width: 720px;
  margin: 0 auto;
  margin-top: 160px;

  .heading {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }

  .item {
    img {
      align-self: flex-start;
    }

    .text {
      h6 {
        font-size: 18px;
        line-height: 27px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .button {
    width: 132px;
    background-color: #6D087C;
    margin-top: 65px;
    align-self: center;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
}