/*
    ADDITIONAL
*/

.survey-wrap {
  margin-top: 80px;
  margin-bottom: 160px;
}
.plus-sign {
  background: $signColor url("/static/img/simple-add.svg") no-repeat center;
  border-radius: 50%;
  height: 33px;
  width: 33px;
}

.add-button {
  color: $brandPurple;
  border: 2px dashed $detailsRadioGrey;
  border-radius: 5px;
  padding-bottom: 18px;
  padding-top: 18px;
  width: 100%;
}

.left-tail-icon {
  height: 14px;
}

.color-brand-purple {
  color: $brandPurple;
}

.link-wrap {
  border: solid 1px $grey500;
  border-radius: 4px;
  height: 60px;
  &:hover {
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
  }
}

.explain_text {
  h6, p {
    font-size: 14px;
  }
  p {
    line-height: 22px;
  }
  h6 {
    color: $brandPurple;
  }
  p {
    color: $textDark;
  }
}
