/*
  FONTS
*/

@font-face {
  font-family: 'brown';
  src: url('/static/fonts/brown-light-webfont.woff2') format('woff2'),
       url('/static/fonts/brown-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'brown';
  src: url('/static/fonts/brown-regular-webfont.woff2') format('woff2'),
       url('/static/fonts/brown-regular-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'brown';
  src: url('/static/fonts/brown-bold-webfont.woff2') format('woff2'),
       url('/static/fonts/brown-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Co Headline';
  src: url('/static/fonts/CoHeadline-Bold.woff2') format('woff2'),
  url('/static/fonts/CoHeadline-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Co Headline';
  src: url('/static/fonts/CoHeadline-Light.woff2') format('woff2'),
  url('/static/fonts/CoHeadline-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Co Headline';
  src: url('/static/fonts/CoHeadline-Regular.woff2') format('woff2'),
  url('/static/fonts/CoHeadline-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Italic.woff2') format('woff2'),
  url('/static/fonts/Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-LightItalic.woff2') format('woff2'),
  url('/static/fonts/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Black.woff2') format('woff2'),
  url('/static/fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Thin.woff2') format('woff2'),
  url('/static/fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Medium.woff2') format('woff2'),
  url('/static/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
  url('/static/fonts/Montserrat-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
  url('/static/fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
  url('/static/fonts/Montserrat-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
  url('/static/fonts/Montserrat-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-BlackItalic.woff2') format('woff2'),
  url('/static/fonts/Montserrat-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Bold.woff2') format('woff2'),
  url('/static/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Regular.woff2') format('woff2'),
  url('/static/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
  url('/static/fonts/Montserrat-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-Light.woff2') format('woff2'),
  url('/static/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
  url('/static/fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
  url('/static/fonts/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
  url('/static/fonts/Montserrat-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('/static/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/static/fonts/Avenir-Next-Italic.woff2') format('woff2'),
  url('/static/fonts/Avenir-Next-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/static/fonts/Avenir-Next-Regular.woff2') format('woff2'),
  url('/static/fonts/Avenir-Next-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/static/fonts/Avenir-Next-Medium.woff2') format('woff2'),
  url('/static/fonts/Avenir-Next-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/static/fonts/Avenir-Next-SemiBold.woff2') format('woff2'),
  url('/static/fonts/Avenir-Next-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
