/*
    GLOBAL
*/

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: $brandPrimary;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 300;
    height: auto;
    margin: 0;
    padding: 0;
}

a {
  color: $brandSecondary;
  text-decoration: none;
  &:hover {
    color: $brandBlue;
  }
  &.link-purple {
    color: $brandPrimary;
    &:hover {
      color: $brandPurple;
    }
  }
}
.no-link {
  color: $brandPrimary;
}
h1, h2, h3, h4, h5 {
  line-height: 1.6;
}
h6, p {
  line-height: 1.8;
}
h1 {
  font-size: 40px;
  line-height: 60px;
}

h2 {
  font-size: 32px;
  line-height: 48px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
}

h5 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

h6, p {
  font-size: 16px;
  line-height: 24px;
}

.sticky-footer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sticky-footer-content {
    flex: 1;
    @media all and (-ms-high-contrast: none) {
        flex: 1 0 auto;
    }
}

.greyText {
  color: $textLightGrey;
}

.fz-sml {
  font-size: 14px;
}

.fz-lhs {
  line-height: 21px;
}

.fz-smler {
    font-size: 12px;
}
.fs-c {
  text-transform: capitalize;
}
.d-c {
  margin-left: auto;
  margin-right: auto;
}
.no_border {
  border: none;
}
.no_background {
  background: transparent;
}

.error-stop {
    height: 12px;
    margin-right: 0.5rem;
    width: 12px;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  $class-slug: col !default;

  @for $i from 1 through 12 {
    .#{$class-slug}-#{$i} {
      width: percentage($i / 12);
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      &:last-child {
        float:right;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.one_column {
  $class-slug: col !default;
  @for $i from 1 through 12 {
    .#{$class-slug}-#{$i} {
      width: percentage($i / 12);
      margin-left: auto;
      margin-right: auto;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
img {
  max-width: 100%;
}
hr {
  border-top: 1px solid $brandPrimary;
  margin: 40px 0;
  width: 100%;
  height: 1px;
}

.border-box {
  border: 1px solid $grey500;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 30px;
}
.action-button-box {
  text-align: right;
  button {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.bd_light_grey {
  border-color: $grey400;
}
.full_width {
  display: block;
  width: 100%;
}

.right-text {
  text-align: right;
}

.fullHeight {
  min-height: calc(100vh - 400px);
  min-height: -webkit-calc(100vh - 400px);
}

