/*
  GRID
  ** do not upgrade to Susy 3 **
*/

$susy: (
  columns: 12,
  math: static,
  gutters: 0.25,
  column-width: 80px
);

.row {
  @include clearfix;
}

.container {
    width: 100%;
    padding: 0 1em;
    @media (min-width: $desktopLarge) {
        width: $desktopLarge;
        margin-left: auto;
        margin-right: auto;
    }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.col {
  float: left;
  margin-right: gutter();
}

.col-last {
  float: right;
  margin-right: 0;
}

.span-1 {
  width: span(1);
}

.span-2 {
  width: span(2);
}

.span-3 {
  width: span(3);
}

.span-4 {
  width: span(4);
}

.span-5 {
  width: span(5);
}


.span-6 {
  width: span(6);
}

.span-8 {
  width: span(8);
}

.survey-wrap {
  .span-8:not(.wealth-textarea):not(.no-padding):not(.input-search) {
    padding-right: 60px;
  }
  .span-1 {
    width: span(1);
  }

  .span-2 {
    width: span(2) - 15;
  }

  .span-3 {
    width: span(3) - 25;
  }

  .span-4 {
    width: span(4) - 30;
    position: relative;
  }

  .span-5 {
    width: span(5) - 30;
  }


  .span-6 {
    width: span(6) - 30;
  }

  .span-8 {
    width: span(8);
  }
}
