/*
  UTIL
*/
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}
